/*GENERAl*/
html {
  box-sizing: border-box;
  font-size: 1em;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
	font-family:$font-r;
	background: $gray-l;
	font-size: inherit;
}

ul{
	margin:0;
	padding:0;
	list-style-type: none;
}

a{
	text-decoration:none;
}

a:hover{
	cursor:pointer;
}

.centering{
	display:flex;
	justify-content:center;
	align-items: center;
}
.upper{
	text-transform:uppercase;
}

main{
	width: 100%;
	margin:0 auto;
}

section{
	max-width: $max-width;
	margin:0 auto;
	width: 100%;
}

.arrow-style{
	display: block;
	width:45px;
	height:45px;
}

img{
	max-width: 100%;
	height: auto;
}

.slick-prev.slick-arrow{
	position: absolute;
	left: 0px;
	top:33%;
	z-index: 10;

	@media screen and(min-width: 992px) {
		left: 20px;
	}

	@media screen and(min-width: 1281px) {
		left: 8px;
	}
}

.slick-next.slick-arrow{
	position: absolute;
	right: 10px;
	top:33%;
	z-index: 10;

	@media screen and(min-width: 992px) {
		right: 20px;
	}

	@media screen and(min-width: 1281px) {
		right: 8px;
	}
}

.slick-slide img {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

//Hero Logo

.hero{
	&__inner{
		background: $brand;
		@extend .centering;
		flex-direction: column;

			&__logo{
				display: block;
				margin-top: 10rem;

				@media screen and(min-width: 1280px){
					margin-top: 16rem;
				}

				@media screen and(min-width: 1440px){
					margin-top: 20rem;
				}
			}

			&__logo img{
				width:256px;
				height: 132px;
				display: block;
			}

			p{
				font-size: 20px;
				color:$white;
				max-width: 490px;
	    		text-align: center;
	    		margin:5rem 0;
			}

			&__arrow{
				@extend .arrow-style;
				margin-bottom: 2.5rem;
				background: url('../images/Button@2x.png') no-repeat;
				background-size: cover;
				background-position: center;
			}

	}
}

//Design

.design{
	&__inner{
		@extend .centering;
		flex-direction: column;

		p{
			font-size: 28px;
			margin:2rem auto 12rem auto;
			max-width: 400px;
			text-align: center;

			@media screen and(min-width: 992px){
				max-width: none;
				margin:2rem 0;
				text-align: left;
			}
		}

		img{
			display: block;
			margin:9rem 0 4rem 0;
		}

		span{
			color:$brand;
		}

		&__arrow{
			display: block;
			width: 54px;
			height: 54px;
			background: url('../images/Button-Red-copy@2x.png') no-repeat;
			background-size: cover;
			background-position: center;
			margin-bottom: 4.5rem;

			@media screen and(min-width: 992px){
				margin-bottom: 0rem;
			}
		}
	}
}

//Love

.love{
	&__inner{
		@extend .centering;
		flex-direction: column;

		p{
			font-size: 28px;
			margin:2rem auto 12rem auto;
			max-width: 400px;
			text-align: center;

			@media screen and(min-width: 992px){
				max-width: none;
				margin:2rem 0;
				text-align: left;
			}
		}

		img{
			display: block;
			margin:8rem 0 3rem 0;
		}

		span{
			color:$brand;
		}

		&__arrow{
			display: block;
			width: 54px;
			height: 54px;
			background: url('../images/Button-Red-copy@2x.png') no-repeat;
			background-size: cover;
			background-position: center;
			margin-bottom: 4.5rem;

			@media screen and(min-width: 992px){
				margin-bottom: 0rem;
			}
		}
	}
}

//Both

.both{
	&__inner{
		@extend .centering;
		flex-direction: column;

		p{
			font-size: 28px;
			margin:2rem 0 12rem 0;

			@media screen and(min-width: 992px){
			  margin:2rem 0 2rem 0;
			}
		}

		img{
			display: block;
			margin:9rem 0 4rem 0;
		}

		span{
			color:$brand;
		}

		&__arrow{
			display: block;
			width: 54px;
			height: 54px;
			background: url('../images/Button-Red-copy@2x.png') no-repeat;
			background-size: cover;
			background-position: center;
			margin-bottom: 4.5rem;

			@media screen and(min-width: 992px){
				margin-bottom: 2.5rem;
			}
		}
	}
}

//SERVICES

.services{
	&__inner{
		/* @extend .centering;
		flex-direction: column; */
		background: $white;
		overflow: hidden;
		text-align: center;

		h1{
			font-size: 50px;
			margin-top: 75px;
			margin-bottom:65px;

			@media screen and(min-width: 992px){
				margin-top: 65px;
				margin-bottom:115px;
				font-size: 60px;
			}
		}

		img{
			width:93px;
			height: 93px;

			@media screen and(min-width: 992px){
				width:186px;
				height: 186px;
			}
		}
		&__text{
			margin-top: 0px;
			margin-bottom: 0px;
			margin-left:24px;

			@media screen and(min-width: 992px){
				margin-top: 65px;
				margin-bottom: 10px;
				margin-left:0;
			}
		}

		.col-md-3{
			@media screen and(min-width: 992px){
				margin-bottom: 110px;
			}
		}

		.col-xs-12{
			display: flex;
			float:none;
			align-items:center;
			justify-content:left;
			max-width: 300px;
			margin:0 auto;
			padding-bottom: 50px;

			@media screen and(min-width: 992px){
				display: block;
				float:left;
				max-width: 100%;
				padding-bottom: 0px;
			}
		}


		&__arrow{
			display: block;
			width: 45px;
			height: 45px;
			background: url('../images/Button-copy@2x.png') no-repeat;
			background-size: cover;
			background-position: center;
			clear:both;
			margin:0 auto 4.5rem auto;

			@media screen and(min-width: 992px){
			    margin:0 auto 2.5rem auto;
			}
		}
	}
}

//CLIENTS

.carousel{
	&__inner{
		overflow: hidden;
		text-align: center;

		&__mobile{
			@media screen and(min-width: 992px){
				display: none;
			}
		}

		h1{
			font-size: 50px;
			margin-top: 65px;
			margin-bottom:190px;

			@media screen and(min-width: 992px){
				margin-bottom:175px;
				font-size: 60px;
			}
		}


		&__arrow{
			display: block;
			width: 45px;
			height: 45px;
			background: url('../images/Button-copy@2x.png') no-repeat;
			background-size: cover;
			background-position: center;
			clear:both;
			margin:175px auto 4.5rem auto;

			@media screen and(min-width: 992px){
				margin: 175px auto 2.5rem auto;
			}
		}

		&__slider{
			margin: 125px 20px;
			visibility: hidden;

			@media screen and(min-width: 992px){
				margin: 70px 0;
			}
		}
	}

}

//Map
.map{

	&__inner{
		overflow: hidden;
		text-align: center;


		&__mobile{
			@media screen and(min-width: 992px){
				display: none;
			}
		}
		&__desktop{
			display: none;
			@media screen and(min-width: 992px){
				display: block;
			}	
		}	

	h1{
		font-size: 50px;
		margin-top: 65px;
		margin-bottom:70px;
			@media screen and(min-width: 992px){
				margin-bottom:60px;
				font-size: 60px;
		}
	}

	#map{
		width: 100%;
		height: 720px;
			@media screen and(min-width: 992px){
				height: 320px;
			}
		}	
	}

	&__arrow{
		display: block;
		width: 54px;
		height: 54px;
		background: url('../images/Button-Red-copy@2x.png') no-repeat;
		background-size: cover;
		background-position: center;
		margin: 60px auto 4.5rem auto;

		@media screen and(min-width: 992px){
			margin: 60px auto 2.5rem auto;
		}
	}

	div#bodyContent p{
		text-align: left;
		font-family:$font-r;
		font-size: 16px;
		margin:0;
	}
}



//Contact

.contact{
	text-align: center;
		h1{
			font-size: 50px;
			@media screen and(min-width: 992px){
				margin-top: 65px;
				margin-bottom:114px;
				font-size: 60px;
			}
	}
	.form-control{
		border:2px solid #cccccc;
		padding: 23px 6px;
	}
	textarea{
		resize:none;
	}

	button{
		width: 100%;
		background: $brand;
		color:$white;
		font-size: 16px;
		padding: 15px 12px;
	}

	&__phone{
		margin: 2rem auto 4rem auto;
	}
}

.slick-initialized { visibility: visible; }

