
/* 
   ========================================================================== */
/**
 * VARIABLES
 */

$brand:#D9435E;
$white:#fff;
$black:#000;
$gray-l:#D2D3D9;
$gray-d:#414042;
$accent:#CF304C;
$font-r:'Avenir Next Regular';
$font-m:'Avenir Next Medium';
$font-d:'Avenir Next Demi';
$max-width: 1920px;

	