
/* 
   ========================================================================== */
/**
 * VARIABLES
 */

$cyen:#5fc0c3;
$white:#fff;
$black:#000;
$footer-c:#454850;
$footer-txt:#9199b1;
$gray:#f1f2f5;
$text:#5a6175;
$border:#585b61;
$heading:#565659;
$museo:'Museo Sans 500';
$open:'Open Sans';
$max-width: 1440px;

